/backend/.env
/backend/node_modules
/backend/.idea/
/backend/../.idea/
/backend/dataRoutes.old
/backend/route.rest
.DS_Store
/frontend/node_modules
docker_commands.txt
/database/local
/backend/local
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
